

</br><h1> Baby Developer Team </h1></br>
  <!-- Creation Three Columns -->
<div class="container marketing">
        <div class="row text-center">
          <div class="col-lg-6">
            </br><i class="fas fa-baby fa-5x"></i></br>
            </br><h2> Mélanie </h2></br>
            </br><p> Mél, 24 years old, baby developer. Love its team group and the coding camp! </p></br>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
             </br><i class="fas fa-baby fa-5x"></i></br>
            </br><h2> Grégo </h2></br>
            </br><p> Grégo, 26 years old but not born in dev world. Yet co-dev of the current Gossip-project website. Yall enjoy the visit.</p></br>
          </div><!-- /.col-lg-4 -->
        </div>
</div>
